In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
import matplotlib.pyplot as plt # para gráficos

import pandas as pd # para manipulação de dados
import numpy as np # para manipulação de matrizes

import tensorflow as tf # para Deep Learning
from tensorflow.contrib.rnn import BasicRNNCell # para RNNs

In [0]:
# lendo banco de dados
df_janeiro   = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_1(ROUBO DE VEÍCULOS).csv')
df_fevereiro = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_2(ROUBO DE VEÍCULOS).csv')
df_marco     = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_3(ROUBO DE VEÍCULOS).csv')
df_abril     = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_4(ROUBO DE VEÍCULOS).csv')
df_maio      = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_5(ROUBO DE VEÍCULOS).csv')
df_junho     = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_6(ROUBO DE VEÍCULOS).csv')
df_julho     = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_7(ROUBO DE VEÍCULOS).csv')
df_agosto    = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_8(ROUBO DE VEÍCULOS).csv')
df_setembro  = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_9(ROUBO DE VEÍCULOS).csv')
df_outubro   = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_10(ROUBO DE VEÍCULOS).csv')
df_novembro  = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_11(ROUBO DE VEÍCULOS).csv')
df_dezembro  = pd.read_csv('/content/drive/My Drive/Dados/DadosBO_2019_12(ROUBO DE VEÍCULOS).csv')

In [0]:
# concatenando banco de dados shape total de (120554, 57)
data = pd.concat([df_janeiro, df_fevereiro, df_marco,
                df_abril,   df_maio,      df_junho,
                df_julho,   df_agosto,    df_setembro,
                df_outubro, df_novembro,  df_dezembro])

def removeDuplicados(df):
    df.drop_duplicates(inplace=True)
    return df

data = removeDuplicados(data)

In [7]:
data.head(5)

   ANO_BO  NUM_BO  ... QUANT_CELULAR MARCA_CELULAR
0    2018    4590  ...           NaN           NaN
1    2018    8741  ...           NaN           NaN
2    2018    3396  ...           NaN           NaN
3    2018    5767  ...           NaN           NaN
4    2018   12332  ...           NaN           NaN

[5 rows x 57 columns]

In [0]:
# ordena temporalmente
data.sort_values(["DATAOCORRENCIA", "HORAOCORRENCIA"], inplace=True)

In [9]:
data.head()

      ANO_BO  NUM_BO  ... QUANT_CELULAR MARCA_CELULAR
7242    2019     342  ...           NaN           NaN
29      2018    8215  ...           NaN           NaN
25      2018    9467  ...           NaN           NaN
241     2019     399  ...           NaN           NaN
242     2019     399  ...           NaN           NaN

[5 rows x 57 columns]

In [0]:
from sklearn.impute import SimpleImputer

In [0]:
# substitui valores faltantes pelo mais frenquente
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [0]:
# aplica a coluna que quero modificar
data[['HORAOCORRENCIA']] = imputer.fit_transform(data[['HORAOCORRENCIA']])

In [0]:
# divido a coluna 'HORAOCORRENCIA' em hora e minuto
hora = data['HORAOCORRENCIA'].str.split(':', n=1, expand=True)

In [0]:
# transformo em um DataFrame
hora = pd.DataFrame(hora)

In [0]:
# transformo o tipo Object para integer
hora[0] = hora[0].astype('int64')

In [16]:
hora[0].dtype

dtype('int64')

In [0]:
# crio vários arrays para contar quantas ocorrencias aconteceram em cada hora

hora0 = np.where(hora[0] == 0, 1, 0)
hora1 = np.where(hora[0] == 1, 1, 0)
hora2 = np.where(hora[0] == 2, 1, 0)
hora3 = np.where(hora[0] == 3, 1, 0)
hora4 = np.where(hora[0] == 4, 1, 0)
hora5 = np.where(hora[0] == 5, 1, 0)
hora6 = np.where(hora[0] == 6, 1, 0)
hora7 = np.where(hora[0] == 7, 1, 0)
hora8 = np.where(hora[0] == 8, 1, 0)
hora9 = np.where(hora[0] == 9, 1, 0)
hora10 = np.where(hora[0] == 10, 1, 0)
hora11 = np.where(hora[0] == 11, 1, 0)
hora12 = np.where(hora[0] == 12, 1, 0)
hora13 = np.where(hora[0] == 13, 1, 0)
hora14 = np.where(hora[0] == 14, 1, 0)
hora15 = np.where(hora[0] == 15, 1, 0)
hora16 = np.where(hora[0] == 16, 1, 0)
hora17 = np.where(hora[0] == 17, 1, 0)
hora18 = np.where(hora[0] == 18, 1, 0)
hora19 = np.where(hora[0] == 19, 1, 0)
hora20 = np.where(hora[0] == 20, 1, 0)
hora21 = np.where(hora[0] == 21, 1, 0)
hora22 = np.where(hora[0] == 22, 1, 0)
hora23 = np.where(hora[0] == 23, 1, 0)

In [18]:
# na hora 0 tivera 442 ocorrencias
sum(hora0)

4125

In [19]:
sum(hora1)

3682

In [20]:
sum(hora2)

2768

In [21]:
sum(hora3)

2715

In [0]:
data['HORAOCORRENCIA'] = hora[0]

In [23]:
data['HORAOCORRENCIA']

7242     20
29        0
25        0
241       0
242       0
         ..
11070    20
11071    20
11167    20
11191    20
11235    20
Name: HORAOCORRENCIA, Length: 120554, dtype: int64

In [0]:
roubos = []
for lin in data['HORAOCORRENCIA']:
  if lin == 0:
    roubos.append(sum(hora0))
  elif lin == 1:
    roubos.append(sum(hora1))
  elif lin == 2:
    roubos.append(sum(hora2))
  elif lin == 3:
    roubos.append(sum(hora3))
  elif lin == 4:
    roubos.append(sum(hora4))
  elif lin == 5:
    roubos.append(sum(hora5))
  elif lin == 6:
    roubos.append(sum(hora6))
  elif lin == 7:
    roubos.append(sum(hora7))
  elif lin == 8:
    roubos.append(sum(hora8))
  elif lin == 9:
    roubos.append(sum(hora9))
  elif lin == 10:
    roubos.append(sum(hora10))
  elif lin == 11:
    roubos.append(sum(hora11))
  elif lin == 12:
    roubos.append(sum(hora12))
  elif lin == 13:
    roubos.append(sum(hora13))
  elif lin == 14:
    roubos.append(sum(hora14))
  elif lin == 15:
    roubos.append(sum(hora15))
  elif lin == 16:
    roubos.append(sum(hora16))
  elif lin == 17:
    roubos.append(sum(hora17))
  elif lin == 18:
    roubos.append(sum(hora18))
  elif lin == 19:
    roubos.append(sum(hora19))
  elif lin == 20:
    roubos.append(sum(hora20))
  elif lin == 21:
    roubos.append(sum(hora21))
  elif lin == 22:
    roubos.append(sum(hora22))
  elif lin == 23:
    roubos.append(sum(hora23))

In [0]:
data['ROUBOS'] = roubos

In [0]:
demanda = data[['ROUBOS']] # pega a coluna de demanda

In [0]:
n_steps = 20

In [28]:
for time_step in range(1, n_steps+1):
  demanda['ROUBOS'+str(time_step)] = demanda[['ROUBOS']].shift(-time_step).values

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
demanda.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
X = demanda.iloc[:, :n_steps].values
X = np.reshape(X, (X.shape[0], n_steps, 1)) # adiciona dimensão

In [31]:
demanda

       ROUBOS  ROUBOS1  ROUBOS2  ...  ROUBOS18  ROUBOS19  ROUBOS20
7242    15178   4125.0   4125.0  ...    4125.0    4125.0    4125.0
29       4125   4125.0   4125.0  ...    4125.0    4125.0    4125.0
25       4125   4125.0   4125.0  ...    4125.0    4125.0    4125.0
241      4125   4125.0   4125.0  ...    4125.0    4125.0    4125.0
242      4125   4125.0   4125.0  ...    4125.0    4125.0    4125.0
...       ...      ...      ...  ...       ...       ...       ...
11205    8818   8818.0  15178.0  ...   15178.0   15178.0   15178.0
11220    8818  15178.0  15178.0  ...   15178.0   15178.0   15178.0
11219   15178  15178.0  15178.0  ...   15178.0   15178.0   15178.0
11232   15178  15178.0  15178.0  ...   15178.0   15178.0   15178.0
11253   15178  15178.0  15178.0  ...   15178.0   15178.0   15178.0

[120534 rows x 21 columns]

In [0]:
y = demanda.iloc[:, 1:].values
y = np.reshape(y, (y.shape[0], n_steps, 1))

In [33]:
X.shape, y.shape

((120534, 20, 1), (120534, 20, 1))

In [0]:
n_test = 500

X_train, X_test = X[:-n_test, :, :], X[-n_test:, :, :]
y_train, y_test = y[:-n_test, :, :], y[-n_test:, :, :]

In [0]:
shuffle_mask = np.arange(0, X_train.shape[0]) # cria array de 0 até n_train
np.random.shuffle(shuffle_mask) # embaralha o array acima

X_train = X_train[shuffle_mask]
y_train = y_train[shuffle_mask]

In [0]:
n_inputs = 1 # variáveis de entrada
n_neurons = 64 # neurônios da camada recursiva
n_outputs = 1 # variáveis de entrada
learning_rate = 0.001 # taxa de aprendizado

graph = tf.Graph()
with graph.as_default():

    # placeholders
    tf_X = tf.placeholder(tf.float32, [None, n_steps, n_inputs], name='X')
    tf_y = tf.placeholder(tf.float32, [None, n_steps, n_outputs], name='y')
    
    with tf.name_scope('Recurent_Layer'):
        cell = BasicRNNCell(num_units=n_neurons, activation=tf.nn.elu)
        outputs, last_state = tf.nn.dynamic_rnn(cell, tf_X, dtype=tf.float32)
             
    with tf.name_scope('out_layer'):
        stacked_outputs = tf.reshape(outputs, [-1, n_neurons])
        stacked_outputs = tf.layers.dense(stacked_outputs, n_outputs, activation=None)
        net_outputs = tf.reshape(stacked_outputs, [-1, n_steps, n_outputs])
    
    with tf.name_scope('train'):
        loss = tf.reduce_mean(tf.abs(net_outputs - tf_y)) # MAE
        optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(loss)

    init = tf.global_variables_initializer()

In [37]:
n_iterations = 10000
batch_size = 64

with tf.Session(graph=graph) as sess:
    init.run()
    
    for step in range(n_iterations+1):
        # cria os mini-lotes
        offset = (step * batch_size) % (y_train.shape[0] - batch_size)
        X_batch = X_train[offset:(offset + batch_size), :]
        y_batch = y_train[offset:(offset + batch_size)]
        
        # roda uma iteração de treino
        sess.run(optimizer, feed_dict={tf_X: X_batch, tf_y: y_batch})
    
        # mostra o MAE de treito a cada 2000 iterações
        if step % 2000 == 0:
            train_mae = loss.eval(feed_dict={tf_X: X_train, tf_y: y_train})
            print(step, "\tTrain MAE:", train_mae)
    
    # mostra o MAE de teste no final do treinamento
    test_mae = loss.eval(feed_dict={tf_X: X_test, tf_y: y_test})
    print(step, "\tTest MAE:", test_mae)

    # realiza previsões
    y_pred = sess.run(net_outputs, feed_dict={tf_X: X_test})

0 	Train MAE: 7257.559
2000 	Train MAE: 172.1712
4000 	Train MAE: 156.51944
6000 	Train MAE: 154.02802
8000 	Train MAE: 157.67073
10000 	Train MAE: 162.0712
10000 	Test MAE: 147.26294

In [0]:
from sklearn.metrics import r2_score

In [39]:
r2_score(y_pred=y_pred.reshape(-1, 1), y_true=y_test.reshape(-1, 1))

0.9243768496160252